table {
    margin-top: 2em;
    margin-bottom: 2em;

    font-size: .9em;
    color: #3e4761;
}

td {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: .3em 1em;
}

th {
    background: #e5e5e5;
    border: 1px solid #d1d1d1;
    padding: .3em 1em;
    font-weight: bold;
}