a {
    font-weight: bolder;
    color: #518029;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, {
    font-family: 'Marmelad', sans-serif;
    color: #464646;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    margin: 1em 0;
}