
.article-menu-wrapper {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: 430px;
    border: 5px solid #aaaaaa;
    border-radius: 20px;
    background: #e2e2e2; /* Цвет фона */
}

.article-menu-wrapper header {
    font-family: 'Marmelad', sans-serif;
    font-size: 1.5em;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 2px solid #aaaaaa;
    background-image: linear-gradient(to right, #c3c3c3 0%,#ffffff 50%, #c2c2c2 100%);
}
.left-menu-item {
    color: #274901;
    width: 100%;
    font-size: 1em;
    height: 2em;
    vertical-align:middle;
    text-decoration: none;
    background:url('../images/pages/left-point.png') no-repeat;
    padding-left:30px;
}

.left-menu-item:hover {
    color: #858585;
    margin-left: 10px;
}

.left-menu-item:active {
    color: #858585;
    padding-left: 10px;
    margin-left: 10px;
}

.last-creation {
    margin-top: 10px;
    color: #858585;
    float: right;
    font-style:  oblique;
}

#current-left-menu-item {
    font-weight: bold;
    font-size: 1.2em;

    padding: 20px 0;

    width: 100%;
    background: none;

}

#current-left-menu-item:hover {
    margin-left:0;
}

#article-menu {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    position: relative; /* Относительное позиционирование */
    height: 100%;
}
 .left-menu-hr {
     border:1px dashed #ccc;
     border-right:0;
     border-left:0;
     border-top:0;
     height:1px;
     margin:5px -6px 2px -6px;
 }