.calculation-interval {
    height: 36px;
    width: 100%;
    margin: 10px;
}

.cl-button,
.cl-selected {
    border-radius: 5px;
    text-decoration:none;
    display:inline-block;
    margin-right: 2px;
    padding:0 11px;
    line-height:30px;
    font-weight:bold;
    background:url('../images/widgets/calculation/mini_button.png') no-repeat 0 0;
}

.cl-button {
    font-size:14px;
    margin-right: 2px;
    color:#2E2E2E;

}
.cl-button:hover {
    color: #6b971e;
    font-size:16px;
    background-position: 0 -30px;
}

.cl-button:active {
    color:#cccccc;
    font-size:12px;
}

.cl-selected {
    color:#cccccc;
    font-size:12px;
    background-position: 0 -60px;
}