/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}

/* Global properties ======================================================== */

html {width:100%}
body {
    font-size: 100%;
    font-family: "Ubuntu", Arial, FreeSans, "sans-serif";
    color: #686869;
    min-width:930px;
    background:#FFFFFF;
}

.main {
    font-size: 1.1em;
    width:60%;
    margin: 0 245px 0 245px;
    line-height:1.428em
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.main-header {
    height: 200px;
    width: 100%;
    position: relative;
    background: #dff1ff;
    z-index: 100;
}

.main-submenu {
    padding-top: 50px;
    background: #D7FAB6;
}

.dentateLine {
    position: relative;
    background: url('../images/pages/dentate-line.png') repeat-x left bottom;
    height: 21px;
    width: 100%;
    bottom: -21px;
    z-index: 100;
}

.main-header-state {
    border-top: 5px solid #3d4f0c;
    margin-left: 40%;
    width: 50%;
    height: 50%;
    background: #478500;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    color: #72D045;
}

.main-header-green {
    height: 60px;
    width: 100%;
    border-bottom: 5px solid #aaaaaa;
    background: url('../images/pages/Grass-fills.jpg');
}

.main-header-line {
    height: 60px;
    width: 100%;
    background: url('../images/pages/Grass-line.png') top left repeat-x;
}

.main-header-menu {
    margin: 0;
    height: 80px;
    width: 70%;
    padding-left:  30%;
}

.main-header-logo {
    position: absolute;
    top: 10px;
    left: 50px;
}

.main-header-logo h1 {
    font-family: 'Seymour One', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 120px;
    color: #274901;
    font-size: 1.5em;
    font-weight: bolder;
    width: 100px;
}

.main-header-arrow {
    position: absolute;
    top: 186px;
    left: 30%;
}

.main-header-menu-item{
    font-size: 1.5em;
    margin-top: 30px;
    margin-right: 10px;
    height: 65px;
    width: 100px;
    display: inline-block;
    vertical-align:middle;
    line-height:65px;
    text-align:center;
    text-decoration: none;
    background: url('../images/pages/bubbles.png') center no-repeat;
    color: #567775;
}

.main-header-menu-item:hover {
    font-weight: bold;
}

.main-header-menu-item:active {
    font-size: 1.3em;
}

.main-header-menu-item-selected {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 20px;
    height: 65px;
    width: 100px;
    display: inline-block;
    text-align:center;
    text-decoration: none;
    background: url('../images/pages/bubbles.png') center no-repeat;
    color: #567775;
}

.content {
    width: 46%;
    padding: 0 1%;
    margin-left: 2%;
    float: left;
    border-left: 1px solid #a4ea2c;
    border-right: 1px solid #a4ea2c;
}

.sideLeft {
    width: 20%;
    min-width: 210px;
    float: left;
    min-height: 100px;
}

.sideRight {
    width: 20%;
    min-width: 210px;
    margin-left: -240px;
    float: right;
}

.wrapper {
    width: 96%;
    margin: 0 auto;
}

.main-contentBlock {
    width: 100%;
    padding-top: 40px;
    min-height: 500px;
    background-image: linear-gradient(to right, #dee3e2 0%,#ffffff 50%,#dee3e2 100%);
    color: #000;
    line-height:1.428em
}

.additional-contentBlock {
    position: relative;
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
    min-height: 100px;
    color: #384139;
    line-height:1.5em
}

.main-footer {
    color: #274901;
    font-size: .9em;
    position: relative;
}

.main-footer strong {
    line-height: 1.5;
    font-size: 1.5em;
    font-family: 'Marmelad', sans-serif;
}

.main-footer a {
    color: #274901;
}

.main-footer-img {
    position: absolute;
    right: 200px;
    bottom: 70px;
}

.main-footer-content {
    position: relative;
    height: 70px;
    width:100%;
    text-align:center; /*выравнивание текста внутри колонок*/
   column-count: 3; /*количество колонок, на которое хотим разбить текст*/
    -moz-column-count: 3;/* для мозилы*/
    -webkit-column-count: 3;/* для webkit браузеров*/
    column-gap: 40px; /*отступ между колонками*/
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-rule: 1px solid #478500/*если требуется по дизайну, разделяем колонки линией*/
    -moz-column-rule: 1px solid #478500;
    -webkit-column-rule: 1px solid #478500;
}
